<p>After you have grouped sequence reads into OTUs, this script will select one sequence per OTU as a representative.</p>

<ol>Notes:
<li>Input: an OTU mapping file, following the format <div class="file_example">
denovo0	PC.636_266
denovo1	PC.635_771
denovo2	PC.636_265
denovo3	PC.356_222
denovo4	PC.481_1284
denovo5	PC.635_1020	PC.636_798
denovo6	PC.354_612
denovo7	PC.481_434
denovo8	PC.354_668	PC.635_516	PC.636_368	PC.356_545
denovo9	PC.593_402
denovo10	PC.481_1197
denovo11	PC.481_1218	PC.635_317
denovo12	PC.355_363
denovo13	PC.354_1175	PC.354_1018	PC.355_26
</div><br/></li>
<li>Reference sequences: The OTU mapping file doesn't contain sequence information; it only has references to fasta file headers.
	You can include the necessary fasta file one of three ways:<ol>
	<li>A reference fasta file (you used it already if you picked OTUs using uclust_ref, usearch_ref, or usearch61_ref</li>
	<li>A reference fasta file AND your input fasta file (if you allowed the picking methods above to create de novo OTUs)</li>
	<li>The input fasta file only (if you used any other OTU picking method)</li></ol>
</li>
<li>Sequence picking: You can pick the most abundant, the longest, the first in the file, or a random sequence as your representative.
	The first sequence is a good idea if you picked OTUs using uclust, because uclust outputs the OTU seed first.
</li>
<li>Outpu: No log file will be created if you don't choose a file path for it.</li>
</ol>
