<p>This script will assign each read in your library to an operational taxonomic unit (OTU). It can use a set of reference sequences describing the OTUs you expect to see, or it can create OTUs de novo</p>

<p><strong>Here are scripts to execute before this one</strong>
<ul>
<li><a onclick="displayHideables('join_paired_ends')">Join paired ends</a> - This script can only handle a single .fasta file. If you have two (one for each half of the pair), you must join them</li>
<li><a onclick="displayHideables('split_libraries')">De-multiplex libraries</a> - This script is most effective if the headers in its input file include sample specific identifiers.  De-multiplexing libraries ensures your input .fasta file will be correctly formatted</li>
</ul>
</p>

<p><strong>Here are the main decisions you should make before running this script</strong>
<ol>
<li>Select your --input_seqs_filepath (typical .fasta, but headers should be formatted like de-multiplexing with QIIME formats them)</li>
<li>Pick an --otu_picking_method</li>
<li>Pick output options<ul>
	<li><a target="_BLANK" href="http://www.drive5.com/usearch/">uclust</a></li>
	<li><a target="_BLANK" href="http://www.drive5.com/usearch/">uclust_ref</a></li>
	<li><a target="_BLANK" href="http://www.ncbi.nlm.nih.gov/pubmed/2231712">blast</a></li>
	<li><a target="_BLANK" href="http://www.mothur.org/wiki/Main_Page">Mothur</a></li>
	<li><a target="_BLANK" href="http://www.ncbi.nlm.nih.gov/pubmed/16731699">cd-hit</a></li>
	<li><a target="_BLANK" href="http://www.drive5.com/usearch/">usearch</a></li>
	<li><a target="_BLANK" href="http://www.drive5.com/usearch/">usearch_ref</a></li>
	<li><a target="_BLANK" href="http://www.drive5.com/usearch/">usearch61</a></li>
	<li><a target="_BLANK" href="http://www.drive5.com/usearch/">usearch61_ref</a></li>
	<li title="Collapses sequences which are identical in their first and/or last bases">prefix/suffix</li>
	<li title="Collapses sequences that are identical to or subsequences of other sequences">Trie</li>
</ul></li>
</ol>
</p>

<p><strong>Here are the scripts to run after this one</strong>
<ul>
<li><a onclick="displayHideables('pick_rep_set')">Pick representative OTU sequence</a> - For each OTU this script generates, it is efficient to select just one sequence that "represents" the whole OTU</li>
<li><a onclick="displayHideables('make_otu_table')">Make OTU table</a> - You don't technically need to pick representative sequences from each OTU before you create the OTU table, so you can jump straight to that step</li>
</ul>
</p>
