<p>You can sequence a whole bunch of difference organisms/samples on a single
run of a next-generation sequencing machine.  In fact, it's highly economical
to do so.  This script takes all the reads that came from a single run (or
multiple runs) and assigns them to the correct organism/sample based on their
barcodes.  It can optionally perform quality-filtering at the same time.</p>

<p></p>

<p>If I were to put running this script into order for you, it would go like
this:
<ol>
	<li>Choose options for de-multiplexing</li>
	<li>Choose options for quality trimming</li>
	<li>Choose output options</li>
</ol>
